In [34]:
import pandas as pd 
import numpy as np
from datetime import datetime, timedelta


from tqdm import tqdm

In [2]:
df = pd.read_csv('data.csv')
df.head()

,cctv1,cctv2,cctv3,cctv4,cctv5,cctv1_datetime,cctv2_datetime,cctv3_datetime,cctv4_datetime,cctv5_datetime,...,cctv2_jl-diponegoro-masuk,cctv2_jl-diponegoro-keluar,cctv2_jl-tentarapelajar-masuk,cctv2_jl-tentarapelajar-keluar,cctv3_jl-kyaimojo-keluar,cctv3_jl-kyaimojo-keluar+masuk,cctv4_persimpangan,cctv5_jl-magelang-masuk,cctv5_jl-magelang-keluar,cctv
0,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,2023-08-15-01:20:34.266584,2023-08-15-01:20:34.266584,2023-08-15-01:19:54.266584,2023-08-15-01:20:15.266584,2023-08-15-01:16:34.266584,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,image_2023-08-14 18:21:27.266584.jpg
1,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,2023-08-15-01:20:36.461642,2023-08-15-01:20:36.461642,2023-08-15-01:19:56.461642,2023-08-15-01:20:17.461642,2023-08-15-01:16:36.461642,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,image_2023-08-14 18:21:29.461642.jpg
2,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,2023-08-15-01:20:38.579317,2023-08-15-01:20:38.579317,2023-08-15-01:19:58.579317,2023-08-15-01:20:19.579317,2023-08-15-01:16:38.579317,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,image_2023-08-14 18:21:31.579317.jpg
3,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,2023-08-15-01:20:40.693097,2023-08-15-01:20:40.693097,2023-08-15-01:20:00.693097,2023-08-15-01:20:21.693097,2023-08-15-01:16:40.693097,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,image_2023-08-14 18:21:33.693097.jpg
4,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,2023-08-15-01:20:42.808150,2023-08-15-01:20:42.808150,2023-08-15-01:20:02.808150,2023-08-15-01:20:23.808150,2023-08-15-01:16:42.808150,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,image_2023-08-14 18:21:35.808150.jpg

In [3]:
df.columns

Index(['cctv1', 'cctv2', 'cctv3', 'cctv4', 'cctv5', 'cctv1_datetime',
       'cctv2_datetime', 'cctv3_datetime', 'cctv4_datetime', 'cctv5_datetime',
       'cctv1_jl-magelang-keluar-masuk', 'cctv1_jl-magelang-masuk',
       'cctv2_jl-magelang-masuk', 'cctv2_jl-magelang-keluar',
       'cctv2_jl-diponegoro-masuk', 'cctv2_jl-diponegoro-keluar',
       'cctv2_jl-tentarapelajar-masuk', 'cctv2_jl-tentarapelajar-keluar',
       'cctv3_jl-kyaimojo-keluar', 'cctv3_jl-kyaimojo-keluar+masuk',
       'cctv4_persimpangan', 'cctv5_jl-magelang-masuk',
       'cctv5_jl-magelang-keluar', 'cctv'],
      dtype='object')

In [4]:
df = df.interpolate()
tmp = []
col = ['cctv1_jl-magelang-keluar-masuk', 'cctv1_jl-magelang-masuk']
tmp = df[col[0]].to_numpy() - df[col[1]].to_numpy()
df['cctv1_jl-magelang-keluar'] = tmp

data_a = df['cctv1_jl-magelang-masuk'].to_numpy()
data_b = df['cctv2_jl-magelang-masuk'].to_numpy()
data_c = df['cctv5_jl-magelang-masuk'].to_numpy()
tmp = []
for a, b, c in zip(data_a, data_b, data_c):
    _sum = 0
    div = 0
    if a is not None:
        _sum+=a
        div+=1
    if b is not None:
        _sum+=b
        div+=1
    if c is not None:
        _sum+=c
        div+=1
    _sum = int(_sum/div)
    tmp.append(_sum)
df['jl-magelang-masuk'] = tmp
df = df.drop(['cctv1_jl-magelang-keluar-masuk', 'cctv1_jl-magelang-masuk', 'cctv2_jl-magelang-masuk', 'cctv5_jl-magelang-masuk'], axis = 1)

data_a = df['cctv1_jl-magelang-keluar'].to_numpy()
data_b = df['cctv2_jl-magelang-keluar'].to_numpy()
data_c = df['cctv5_jl-magelang-keluar'].to_numpy()
tmp = []
for a, b, c in zip(data_a, data_b, data_c):
    _sum = 0
    div = 0
    if a is not None:
        _sum+=a
        div+=1
    if b is not None:
        _sum+=b
        div+=1
    if c is not None:
        _sum+=c
        div+=1
    _sum = int(_sum/div)
    tmp.append(_sum)
df['jl-magelang-keluar'] = tmp
df = df.drop(['cctv1_jl-magelang-keluar', 'cctv2_jl-magelang-keluar', 'cctv5_jl-magelang-keluar'], axis = 1)


col = ['cctv3_jl-kyaimojo-keluar', 'cctv3_jl-kyaimojo-keluar+masuk', ]
tmp = df[col[1]].to_numpy() - df[col[0]].to_numpy()
df['jl-kyaimojo-masuk'] = tmp
df = df.drop(['cctv3_jl-kyaimojo-keluar+masuk'], axis=1)

In [5]:
df.head()

,cctv1,cctv2,cctv3,cctv4,cctv5,cctv1_datetime,cctv2_datetime,cctv3_datetime,cctv4_datetime,cctv5_datetime,cctv2_jl-diponegoro-masuk,cctv2_jl-diponegoro-keluar,cctv2_jl-tentarapelajar-masuk,cctv2_jl-tentarapelajar-keluar,cctv3_jl-kyaimojo-keluar,cctv4_persimpangan,cctv,jl-magelang-masuk,jl-magelang-keluar,jl-kyaimojo-masuk
0,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,2023-08-15-01:20:34.266584,2023-08-15-01:20:34.266584,2023-08-15-01:19:54.266584,2023-08-15-01:20:15.266584,2023-08-15-01:16:34.266584,0.0,0.0,0.0,0.0,0.0,1.0,image_2023-08-14 18:21:27.266584.jpg,0,0,1.0
1,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,2023-08-15-01:20:36.461642,2023-08-15-01:20:36.461642,2023-08-15-01:19:56.461642,2023-08-15-01:20:17.461642,2023-08-15-01:16:36.461642,0.0,0.0,0.0,0.0,0.0,1.0,image_2023-08-14 18:21:29.461642.jpg,1,0,1.0
2,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,2023-08-15-01:20:38.579317,2023-08-15-01:20:38.579317,2023-08-15-01:19:58.579317,2023-08-15-01:20:19.579317,2023-08-15-01:16:38.579317,0.0,0.0,0.0,0.0,0.0,1.0,image_2023-08-14 18:21:31.579317.jpg,1,0,1.0
3,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,2023-08-15-01:20:40.693097,2023-08-15-01:20:40.693097,2023-08-15-01:20:00.693097,2023-08-15-01:20:21.693097,2023-08-15-01:16:40.693097,0.0,0.0,0.0,0.0,0.0,1.0,image_2023-08-14 18:21:33.693097.jpg,1,0,1.0
4,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,2023-08-15-01:20:42.808150,2023-08-15-01:20:42.808150,2023-08-15-01:20:02.808150,2023-08-15-01:20:23.808150,2023-08-15-01:16:42.808150,0.0,0.0,0.0,0.0,0.0,1.0,image_2023-08-14 18:21:35.808150.jpg,1,0,1.0

In [6]:
df.columns

Index(['cctv1', 'cctv2', 'cctv3', 'cctv4', 'cctv5', 'cctv1_datetime',
       'cctv2_datetime', 'cctv3_datetime', 'cctv4_datetime', 'cctv5_datetime',
       'cctv2_jl-diponegoro-masuk', 'cctv2_jl-diponegoro-keluar',
       'cctv2_jl-tentarapelajar-masuk', 'cctv2_jl-tentarapelajar-keluar',
       'cctv3_jl-kyaimojo-keluar', 'cctv4_persimpangan', 'cctv',
       'jl-magelang-masuk', 'jl-magelang-keluar', 'jl-kyaimojo-masuk'],
      dtype='object')

In [7]:
cols = df.columns[10:-4]
cols_new = [c[6:] for c in cols]
for idx, c in enumerate(cols_new):
    df[c] = df[cols[idx]]
df = df.drop(cols, axis=1)

In [8]:
df.head()

,cctv1,cctv2,cctv3,cctv4,cctv5,cctv1_datetime,cctv2_datetime,cctv3_datetime,cctv4_datetime,cctv5_datetime,cctv,jl-magelang-masuk,jl-magelang-keluar,jl-kyaimojo-masuk,jl-diponegoro-masuk,jl-diponegoro-keluar,jl-tentarapelajar-masuk,jl-tentarapelajar-keluar,jl-kyaimojo-keluar,persimpangan
0,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,image_2023-08-14 18:21:27.266584.jpg,2023-08-15-01:20:34.266584,2023-08-15-01:20:34.266584,2023-08-15-01:19:54.266584,2023-08-15-01:20:15.266584,2023-08-15-01:16:34.266584,image_2023-08-14 18:21:27.266584.jpg,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,image_2023-08-14 18:21:29.461642.jpg,2023-08-15-01:20:36.461642,2023-08-15-01:20:36.461642,2023-08-15-01:19:56.461642,2023-08-15-01:20:17.461642,2023-08-15-01:16:36.461642,image_2023-08-14 18:21:29.461642.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,image_2023-08-14 18:21:31.579317.jpg,2023-08-15-01:20:38.579317,2023-08-15-01:20:38.579317,2023-08-15-01:19:58.579317,2023-08-15-01:20:19.579317,2023-08-15-01:16:38.579317,image_2023-08-14 18:21:31.579317.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,image_2023-08-14 18:21:33.693097.jpg,2023-08-15-01:20:40.693097,2023-08-15-01:20:40.693097,2023-08-15-01:20:00.693097,2023-08-15-01:20:21.693097,2023-08-15-01:16:40.693097,image_2023-08-14 18:21:33.693097.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,image_2023-08-14 18:21:35.808150.jpg,2023-08-15-01:20:42.808150,2023-08-15-01:20:42.808150,2023-08-15-01:20:02.808150,2023-08-15-01:20:23.808150,2023-08-15-01:16:42.808150,image_2023-08-14 18:21:35.808150.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
df = df.drop(['cctv1', 'cctv2', 'cctv3', 'cctv4', 'cctv5'], axis=1)
df.head()

,cctv1_datetime,cctv2_datetime,cctv3_datetime,cctv4_datetime,cctv5_datetime,cctv,jl-magelang-masuk,jl-magelang-keluar,jl-kyaimojo-masuk,jl-diponegoro-masuk,jl-diponegoro-keluar,jl-tentarapelajar-masuk,jl-tentarapelajar-keluar,jl-kyaimojo-keluar,persimpangan
0,2023-08-15-01:20:34.266584,2023-08-15-01:20:34.266584,2023-08-15-01:19:54.266584,2023-08-15-01:20:15.266584,2023-08-15-01:16:34.266584,image_2023-08-14 18:21:27.266584.jpg,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2023-08-15-01:20:36.461642,2023-08-15-01:20:36.461642,2023-08-15-01:19:56.461642,2023-08-15-01:20:17.461642,2023-08-15-01:16:36.461642,image_2023-08-14 18:21:29.461642.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2023-08-15-01:20:38.579317,2023-08-15-01:20:38.579317,2023-08-15-01:19:58.579317,2023-08-15-01:20:19.579317,2023-08-15-01:16:38.579317,image_2023-08-14 18:21:31.579317.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2023-08-15-01:20:40.693097,2023-08-15-01:20:40.693097,2023-08-15-01:20:00.693097,2023-08-15-01:20:21.693097,2023-08-15-01:16:40.693097,image_2023-08-14 18:21:33.693097.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2023-08-15-01:20:42.808150,2023-08-15-01:20:42.808150,2023-08-15-01:20:02.808150,2023-08-15-01:20:23.808150,2023-08-15-01:16:42.808150,image_2023-08-14 18:21:35.808150.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [10]:
df = df.drop(['cctv1_datetime', 'cctv2_datetime', 'cctv3_datetime', 'cctv4_datetime', 'cctv5_datetime'], axis=1)
df.head()

,cctv,jl-magelang-masuk,jl-magelang-keluar,jl-kyaimojo-masuk,jl-diponegoro-masuk,jl-diponegoro-keluar,jl-tentarapelajar-masuk,jl-tentarapelajar-keluar,jl-kyaimojo-keluar,persimpangan
0,image_2023-08-14 18:21:27.266584.jpg,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,image_2023-08-14 18:21:29.461642.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,image_2023-08-14 18:21:31.579317.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,image_2023-08-14 18:21:33.693097.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,image_2023-08-14 18:21:35.808150.jpg,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [13]:
data = df['cctv'].to_numpy()
tmp_date = []
tmp_hour = []
tmp_minutes = []
tmp_seconds = []
tmp_time = []


for idx in range(data.shape[0]):
    # _data = data[idx]
    datetime_str = data[idx][6:-4]
    try:
        datetime_object = datetime.strptime(datetime_str, '%Y-%m-%d %H:%M:%S.%f')
    except:
        print(datetime_str)
        break
    time_shift = timedelta(hours=7)
    datetime_object = datetime_object + time_shift
    date = datetime_object.date()
    hour = datetime_object.hour
    minutes = datetime_object.minute
    seconds = datetime_object.second
    tmp_date.append(f'{date}')
    tmp_hour.append(f'{hour}')
    tmp_minutes.append(f'{minutes}')
    tmp_seconds.append(f'{seconds}')
    tmp_time.append(f'{date}-{hour}:{minutes}')
df['date'] = tmp_date
df['hour'] = tmp_hour
df['minutes'] = tmp_minutes
df['seconds'] = tmp_seconds
df['time'] = tmp_time

In [14]:
df = df.drop(['cctv'], axis=1)
df.head()

,jl-magelang-masuk,jl-magelang-keluar,jl-kyaimojo-masuk,jl-diponegoro-masuk,jl-diponegoro-keluar,jl-tentarapelajar-masuk,jl-tentarapelajar-keluar,jl-kyaimojo-keluar,persimpangan,date,hour,minutes,seconds,time
0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2023-08-15,1,21,27,2023-08-15-1:21
1,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2023-08-15,1,21,29,2023-08-15-1:21
2,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2023-08-15,1,21,31,2023-08-15-1:21
3,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2023-08-15,1,21,33,2023-08-15-1:21
4,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2023-08-15,1,21,35,2023-08-15-1:21

In [15]:
cols = ['jl-magelang-masuk', 'jl-magelang-keluar', 'jl-kyaimojo-masuk',
       'jl-diponegoro-masuk', 'jl-diponegoro-keluar',
       'jl-tentarapelajar-masuk', 'jl-tentarapelajar-keluar',
       'jl-kyaimojo-keluar', 'persimpangan']

In [18]:
aaa = 'jl-tentarapelajar-keluar'
aaa[-6:]

'keluar'

In [51]:
time = df['time'].unique()
new_data = {}
for col in cols:
    new_data[col] = []
new_data['time'] = time
for _time in tqdm(time):
    filtered_df = df[df['time'] == _time]
    for col in cols:
        if col == 'persimpangan':
            _sum = filtered_df[col].to_numpy().sum()
            length = filtered_df[col].to_numpy().shape[0]
            tmp = (0.8 * _sum) + (0.2 * _sum / length)
            new_data[col].append(tmp)
        elif col[-6:] == 'keluar':
            _sum = filtered_df[col].to_numpy().sum()
            length = filtered_df[col].to_numpy().shape[0]
            tmp = (0.7 * _sum) + (0.3 * _sum / length)
            new_data[col].append(tmp)
        else:
            _sum = filtered_df[col].to_numpy().sum()
            length = filtered_df[col].to_numpy().shape[0]
            tmp = (0.5 * _sum) + (0.5 * _sum / length)
            new_data[col].append(tmp)














    # if col[-6:] == 'keluar' or col == 'persimpangan':
    #     last_time = '2023-08-15-1:21'
    #     _sum = 0
    #     tmp = []
    #     for _time, data in zip(df['time'].to_numpy(), df[col].to_numpy()):
    #         if _time == last_time:
    #             _sum+=data
    #         else:
    #             tmp.append(_sum)
    #             _sum = data
    #             last_time = _time
    #     new_data[col] = tmp
    # else:
    #     last_30_data = []
    #     last_time = '2023-08-15-1:21'
    #     _sum = 0
    #     tmp = []
    #     for _time, data in zip(df['time'].to_numpy(), df[col].to_numpy()):
    #         if len(last_30_data) > 0:
    #             if last_30_data[-1] == data and _time == last_time:
    #                 last_30_data.append(data)
    #             elif _time != last_time:
    #                 tmp.append(_sum)
    #                 _sum = data
    #                 last_time = _time
    #                 last_30_data = []
    #             else:
    #                 _sum += sum(last_30_data)
    #                 last_30_data = []
    #         else:
    #             last_30_data.append(data)
    #     new_data[col] = tmp

  0%|          | 0/4674 [00:00<?, ?it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4674/4674 [00:29<00:00, 155.80it/s]

In [37]:
df['time'].unique().shape[0]

4674

In [27]:
df.tail()

,jl-magelang-masuk,jl-magelang-keluar,jl-kyaimojo-masuk,jl-diponegoro-masuk,jl-diponegoro-keluar,jl-tentarapelajar-masuk,jl-tentarapelajar-keluar,jl-kyaimojo-keluar,persimpangan,date,hour,minutes,seconds,time
116978,1,1,1.0,1.0,1.0,2.0,0.0,9.0,6.0,2023-08-18,13,31,17,2023-08-18-13:31
116979,0,1,3.0,2.0,1.0,1.0,0.0,5.0,6.0,2023-08-18,13,31,19,2023-08-18-13:31
116980,0,1,3.0,2.0,1.0,1.0,0.0,6.0,5.0,2023-08-18,13,31,21,2023-08-18-13:31
116981,0,1,3.0,2.0,1.0,1.0,0.0,8.0,7.0,2023-08-18,13,31,23,2023-08-18-13:31
116982,0,1,2.0,2.0,1.0,0.0,0.0,8.0,7.0,2023-08-18,13,31,25,2023-08-18-13:31

In [52]:
new_df = pd.DataFrame(new_data)
new_df.head()

,jl-magelang-masuk,jl-magelang-keluar,jl-kyaimojo-masuk,jl-diponegoro-masuk,jl-diponegoro-keluar,jl-tentarapelajar-masuk,jl-tentarapelajar-keluar,jl-kyaimojo-keluar,persimpangan,time
0,7.968750,0.000000,8.500000,0.0,0.718750,0.000000,0.0,0.000000,13.0,2023-08-15-1:21
1,1.035714,2.132143,16.571429,0.0,3.553571,0.000000,0.0,3.553571,22.6,2023-08-15-1:22
2,6.724138,2.131034,24.310345,0.0,4.262069,8.793103,0.0,15.627586,23.4,2023-08-15-1:23
3,9.321429,3.553571,21.232143,0.0,0.000000,0.000000,0.0,19.900000,22.6,2023-08-15-1:24
4,8.285714,7.107143,13.982143,0.0,0.000000,0.000000,0.0,21.321429,22.6,2023-08-15-1:25

In [53]:
new_df.tail()

,jl-magelang-masuk,jl-magelang-keluar,jl-kyaimojo-masuk,jl-diponegoro-masuk,jl-diponegoro-keluar,jl-tentarapelajar-masuk,jl-tentarapelajar-keluar,jl-kyaimojo-keluar,persimpangan,time
4669,2.592593,30.577778,20.740741,0.000000,4.977778,7.777778,2.133333,131.555556,50.059259,2023-08-18-13:27
4670,6.740741,54.044444,13.481481,0.000000,0.000000,4.666667,0.000000,170.666667,55.711111,2023-08-18-13:28
4671,10.888889,38.400000,57.037037,0.000000,0.000000,15.037037,4.266667,162.133333,92.851852,2023-08-18-13:29
4672,13.500000,34.865385,47.769231,3.634615,0.000000,34.269231,27.038462,105.307692,54.923077,2023-08-18-13:30
4673,1.615385,9.400000,16.153846,11.307692,3.615385,11.307692,0.000000,65.076923,61.153846,2023-08-18-13:31

In [54]:
new_df.to_csv('clean_data.csv', index=False)

In [62]:
new_df.loc[2].to_numpy().astype(np.int32)

ValueError: invalid literal for int() with base 10: '2023-08-15-1:23'